@import 'tailwindcss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  justify-content: center;
}

@theme {
  --color-post: #1D293D;
  --spacing-nav: 10px;
}

.postcard {
  @apply h-100 bg-post m-1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gpt-form {
  width: 80%;
}