* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Job-Card {
  max-width: 400px;
  background-color: rgba(11, 186, 128, 0.671);
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  border-radius: 12px;
  box-shadow: 0.5px 0.5px 10px gray;
}

.Job-Card:hover {
  box-shadow: 1px 1px 10px black;
}

.Job-Card button {
  margin-top: 50px;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid gray;
  width: 100%;
}

@media (max-width: 965px) {
  .Job-Card {
    max-width: 385px;
}}

